.w-row:before, .w-row:after {
    content: " ";
    display: table;
}

.w-row:after {
    clear: both;
}

.frontpage-dummy {
    display: block;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.center {
    text-align: center;
}

.paywall-order {
    margin-top: 30px;
    padding-bottom: 40px;
}

.paywall-order h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Abril text', sans-serif;
    font-size: 32px;
    line-height: 110%;
    font-weight: 700;
}

.paywall-order h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.paywall-order label {
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 400;
    color: inherit;
    margin: 0px;
}


.paywall-order label:after {
    border-top: none;
}

.paywall-order .col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.paywall-order .w-checkbox, .paywall-order .w-radio {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
}

.paywall-order .w-checkbox-input, .w-radio-input {
    margin: 4px 0 0;
    line-height: normal;
    float: left;
    margin-left: -20px !important;
}

.paywall-list {
    margin-bottom: 20px;
    padding-left: 0px;
    /*font-size: 1em;*/
}

.paywall-order-left {
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.paywall-order-right {
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

.paywall-order-img {
    width: 45%;
    max-height: 300px;
    float: right;
}

.paywall-order-form-wrap {
    margin-top: 10px;
    padding: 20px 10px 0px 30px;
    border-radius: 0px 10px 10px;
    background-color: rgba(127, 178, 82, .2);
}

.paywall-order-card {
    position: relative;
    width: 96%;
    margin-top: 10px;
    padding: 10px 15px 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #151515;
}

.paywall-order .paywall-order-card.selected {
    width: 100%;
    padding-left: 13px;
    border-color: #7fb252;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-width: 3px;
    background-color: rgba(127, 178, 82, .2);
    color: #000;
}

.paywall-order-card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 120%;
    font-weight: 400;
}

.paywall-order-card-title.selected {
    font-family: 'Abril text', sans-serif;
    font-weight: 700;
}

.paywall-order-card-campaign {
    position: absolute;
    right: 10px;
    bottom: 0px;
    display: inline-block;
    padding: 3px 5px;
    background-color: #7fb252;
    color: #fff;
    font-size: 13px;
}

.paywall-order-card-campaign.red {
    background-color: #ec8b3e;
}

.input {
    width: 100%;
    margin-bottom: 5px;
}

.input._100 {
    width: 100%;
}

.input._25 {
    width: 24%;
}

.input._95 {
    width: 95%;
}

.form-postnr {
    width: 20%;
    margin-right: 0px;
    float: left;
}

.form-poststed {
    width: 79%;
    float: right;
}

.form-payment {
    margin-bottom: 5px;
    padding-top: 10px;
    clear: both;
}

.radio-button-field {
    margin-right: 45px;
    float: left;
}

.form-left {
    width: 50%;
    float: left;
}

.form-right {
    width: 40%;
    margin-right: 15px;
    float: right;
}

.dettefardu {
    padding-left: 30px;
}

.w-input {
    background-color: #ffffff !important;
    border: 1px solid #cccccc !important;
}

.paywall-order .btn.float {
    margin-right: 15px;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    float: right;
    clear: both;
}

.paywall-order .btn {
    padding-bottom: 11px;
    background-color: #151515;
    color: #fff;
}

.paywall-order .w-button {
    display: inline-block;
    padding: 9px 15px;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.paywall-order .smaller.visa {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 62px;
    background-image: url("/img/klartale/faacbe_visa.svg"), url("/img/klartale/faab60_mastercard.svg");
    background-position: 0px 0px, 29px 0px;
    background-size: auto 17px, auto 17px;
    background-repeat: no-repeat, no-repeat;
}

.paywall-order .smaller {
    font-size: 13px;
}

.paywall-order .w-form-label {
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
}


.paywall-order .w-form-label a, .paywall-order .form-right .smaller a {
    color: #067fc0;
    text-decoration: none;
}

.paywall-order .paywall-list li {
    padding-left: 20px;
    background-image: url("/img/klartale/icon-hake.svg");
    background-position: 1px 4px;
    background-size: 14px;
    background-repeat: no-repeat;
    font-size: 16px;
}

.paywall-order .paywall-order-card {
    position: relative;
    width: 96%;
    margin-top: 10px;
    padding: 10px 15px 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #151515;
    cursor: pointer;
}

.paywall-order .paywall-order-card.selected {
    font-weight: 700 !important;
}

.paywall-order .paywall-order-card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 120%;
    font-weight: inherit;
}

.paywall-order .paywall-order-card-campaign {
    position: absolute;
    right: 10px;
    bottom: 0px;
    display: inline-block;
    padding: 3px 5px;
    background-color: #ec8b3e;
    color: #fff;
    font-size: 13px;
}

.paywall-order .paywall-input-hidden {
    display: none;
}

.paywall-order a:focus {
    text-decoration: none;
}

.hiddenSubscriptionImage, .hiddenPrintSubscriptionCheck {
    display: none;
}


@media (max-width: 991px) {
    .frontpage-dummy {
        width: 95%;
    }
    .paywall-buy-submit-wrap {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        float: none;
    }
    .paywall-buy-submit-wrap .btn{
        width:100%;
        float:none;
    }
}

@media (max-width: 767px) {
    .paywall-order .paywall-order-card {
        width: 49%;
        min-height: 68px;
        margin-top: 5px;
        margin-right: 5px;
        padding: 5px 10px 10px;
        float: left;
        font-size: 15px;
    }

    .paywall-order .paywall-order-card.selected {
        width: 49%;
        border-style: solid;
    }

    .paywall-order .dettefardu {
        font-size: 18px;
    }


    .frontpage-dummy {
        width: 98%
    }

    .w-col-small-3 {
        width: 25%;
    }
}

@media (max-width: 479px) {
    .frontpage-dummy {
        width: 100%;
    }

    .paywall-order .center.padding {
        margin-right: 10px;
        margin-left: 10px;
    }

    .paywall-order .paywall-order-left {
        margin-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .paywall-order .paywall-order-card,.paywall-order .paywall-order-card.selected {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 0px;
        padding-left: 10px;
        float: none;
        border: 2px solid #80b453;
        border-radius: 0px;
        box-shadow: none;
        display: flex;
        min-height: 80px;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .paywall-order .paywall-order-card-title {
        font-size: 18px;
        position: absolute;
        left: 10px;
        max-width: 50%;
    }

    .paywall-order p.product-card-subtitle{
        width: 50%;
        margin-bottom: 0px;
        margin-top: 5px;
        padding-left: 50px;
        float: left;
        clear: left;
        text-align: center;
        font-size: 12px;
    }

    .paywall-order .paywall-order-card-campaign{
        left: auto;
        top: 0px;
        right: 10px;
        display: block;
        padding: 1px 8px 1px 8px;
        font-size: 11px;
        bottom: auto;
        margin-top: 2px;
    }

    .paywall-order .paywall-sellingimage.right img{
        display: block;
        height: 55px;
        width: auto;
        order: 1;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .product-card-subtitle {
        width: 100%;
        margin-bottom: 0px;
        padding-right: 6px;
        padding-left: 6px;
        float: left;
        clear: left;
        text-align: center;
    }

    .paywall-order .dettefardu {
        padding-left: 15px;
    }

    .paywall-order .paywall-list {
        font-size: 15px;
    }

    .paywall-order .paywall-order-right {
        font-size: 16px;
    }

    .paywall-order .paywall-order-img {
        display: none;
    }

    .paywall-order .paywall-order-form .form-left {
        width: 100%;
        margin-bottom: 20px;
        float: none;
    }

    .paywall-order .paywall-order-form .form-right {
        width: 100%;
        float: none;
    }

    .w-col-tiny-3 {
        width: 25%;
    }

    .paywall-order .paywall-order-form-wrap {
        padding: 20px 10px 10px 10px;
        margin-left: 18px;
        margin-right: 18px;
        border-radius: inherit;
    }

    .form-payment{
        position: relative;
        width: 100%;
        margin-bottom: 0px;
        padding-top: 5px;
        float: none;
    }

    .paywall-radio.clear-left {
        clear: left;
    }

    .paywall-check {
        width: 100%;
    }

    .paywall-order .btn.float{
        width: 100%;
        float: none;
    }
}


.paywall-order p {
    margin-top: 0;
    margin-bottom: 25px;
}

.w-col {
    position: relative;
    float: left;
}

.paywall-buy-form .refcode-hidden {
    display: none;
}


#paywallBox ul{
    font-size:16px !important;
}

.paywall-order .hiddenOfferList {
    display:none;
}

.paywall-order .paywall-list ul {
    font-size: inherit;
}
label.valid {
    margin-top: 5px;
    color: #4CCA43;
}

.bisnode-phone {
    width: 56% !important;
    float: left;
}

.refresh-biznode {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: -2px;
    line-height: 120%;
    width:44%;
    text-align: center;
    height: 38px;
}

a.refresh-biznode {
    color: white !important;
    font-weight: normal !important;
}

.refresh-biznode-wrapper {
    position: relative;
}

.paywall-order-right .paywall-sellingimage.right{
    display:none;
}

li {
    list-style: square;
    margin-left: 17px;
}

#formSubmit{
    float: left;
}
